*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;

}

.container {
    background-color: yellow;
    max-width: 500px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.subtitule {
    text-align: center;
    color: black;
}

#add {
    background-color: black;
    width: 100%;
    color:yellow;
    border: none;

    padding: 5px 0px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    
    
}

#add:hover {
    background-color: rgb(138, 136, 136);
}

.clean {
    width: 50%;
    background-color: black;
    border: none;
    padding: 10px 0px;
    border-radius: 8px;
    color: yellow;
}

.clean-buy {
    width: 50%;
    background-color: black;
    border: none;
    padding: 10px 0px;
    border-radius: 8px;
    color: yellow;
}

.actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

#item {
    width: 70%;
}

#quantidade {
    width: 30%;
}

.inputGroup {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
}

input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border-color: black;
}

li {
    display: flex;
}

li button {
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

li p {
    margin-left: 5px;
}

li {
    display: flex;
    margin: 20px 0px;
}

@media(max-width: 800px){
    #item {
        width: 97%;
    }

    #quantidade{
        width: 97%;
    }

    .inputGroup {
        flex-direction: column;
    }
    
}


